@font-face {
    font-family: 'Bebas Neue';
    src: url(./fonts/BebasNeueBold.woff2) format('woff2'),
        url(./fonts/BebasNeueBold.woff) format('woff');
    font-weight: bold;
    font-style: normal;
}

@font-face {
    font-family: 'Museo Sans Cyrl 700';
    src: url('MuseoSansCyrl-700.woff2') format('woff2'),
        url('MuseoSansCyrl-700.woff') format('woff');
    font-weight: 600;
    font-style: normal;
}

@font-face {
    font-family: 'Museo Sans Cyrl 300';
    src: url(./fonts/MuseoSansCyrl-300.woff2) format('woff2'),
        url(./fonts/MuseoSansCyrl-300.woff) format('woff');
    font-weight: 300;
    font-style: normal;
}

body {
    margin: 0;
}
.app {
    display: flex;
    flex-direction: column;
    overflow: hidden;
    width: 100%;
    height: 3263px;
    background: #FFFFFF;
}
.header {
    display: flex;
    flex-direction: column;
    background: url(./images/00.png) no-repeat;
    background-size: cover;    
    background-repeat: no-repeat;
    background-position: center center;  
    width: 100%;
    height: 960px;
}
.header_upper {
    display: flex;
    justify-content: space-between;
    position: fixed;
    height: 70px;
    width: 100%;
    z-index: 11111;
    align-content: center;
    color: #FFFFFF;
}
.active {
    background-color: #FFFFFF;
    color: black;
    -webkit-box-shadow: 0 1px 5px rgba(0, 0, 0, 0.25);
    -moz-box-shadow: 0 1px 5px rgba(0, 0, 0, 0.25);
    box-shadow: 0 1px 5px rgba(0, 0, 0, 0.25);
}
.header_text1 > h2{
    margin: 0;
}
.header_text2 > h1{
    margin: 0;
}
.header_main {
    margin-top: 120px;
    display: flex;
    flex-direction: column;
    height: 740px;
    justify-content: space-around;
    width: 100%;
    margin-left: 88px;
}
.header_upper_left {
    display: flex;
    width: 100%;
    flex-direction: row;
    margin-left: 88px;
    align-items: center;
}
.header_logo{
    width: 80%;
    height: auto;
}
.header_upper_left > img {
    width: 219px;
    height: 58px;
}
.header_upper_left > h1 {
    font-size: 3.6em;
    font-weight: 100;
    font-family: 'Museo Sans Cyrl';
}
.header_upper_right {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    margin-right: 85px;
    font-family: 'Museo Sans Cyrl';
    font-size: 24px;
    align-items: center;
    width: 40%;
}
.header_phone{
    width: 100%;
}
.header_insta{
    width: 100%;
}
.header_vk{
    width: 100%;
}
.header_phone_number{
    font-family: 'Museo Sans Cyrl';
    font-size: 1em;
    line-height: 29px;
    text-align: right;
}
.header_options{
    width: 100%;
}
.header_text1 {
    display: flex;

    font-family: 'Bebas Neue';
    font-size: 5.4em;
    margin: 0;

    color: #FFFFFF;
}
span{
    display: flex;
    margin-right: 18px;
    font-family: 'Museo Sans Cyrl';
    color: #FF3754;
}
.header_text2 {
    display: flex;
    /* width: 633px; */
    /* height: 60px; */
    font-family: 'Museo Sans Cyrl';
    font-size: 3em;
    margin: 0;
    /* line-height: 60px; */
    /* font-family: Bebas Neue; */
    color: #FFFFFF;
}
.header_opt{
    cursor: pointer;
}
.header_opt > p{
    font-size: 3em;
}
.header_main_options {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 280px;
    width: 90%;
    margin-bottom: 2em;
}
.first_option_img{
    height: auto;
}
.first_option_img3{
    margin-left: 18px;
}
.header_main_option {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
    width: 100%;
    height: 70px;
    color: #FFFFFF;
    font-family: 'Museo Sans Cyrl';
    line-height: 29px;
}
.header_main_option3{
    margin-left: 13px;
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
    width: 100%;
    height: 70px;
    color: #FFFFFF;
    font-family: 'Museo Sans Cyrl';
    line-height: 29px;
}
.header_button {
    height: 68px;
    width: 20%;
    cursor: pointer;
    background: #FF3754;
    border: 1px solid #FF3754;
    box-sizing: border-box;
    border-radius: 4px;
    margin-bottom: 1em;
    color: #FFFFFF;
    font-family: 'Museo Sans Cyrl';
    font-size: 19px;
    line-height: 23px;
    text-align: center;
    letter-spacing: 0.155em;
    text-transform: uppercase;
}
.header_main_option_tittle1{
    background: #FF3754;
    /* background-size: 20%; */
    height: 40px;
    color: #FFFFFF;
    margin-left: 1em;
}
.header_main_option_tittle1 > h1 {
    margin-top: 4px;
    font-size: 40px;
}
.header_main_option_tittle{
    margin-left: 1em;
    font-family: 'Museo Sans Cyrl';
    font-size: .8em;
}
.header_options_options{
    padding: 250px;
    display: none;
    z-index: -100;
    position: absolute;
    text-align: center;
    width: 73.7%;
    background: rgba(255, 255, 255, 0.9);
    backdrop-filter: blur(50px);
    /* background-color: white; */
    display: none;
    font-family: Museo Sans Cyrl;
    font-size: 50px;
    line-height: 60px;
    text-align: center;
    color: #303030;
}

/* second block */
.second{
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    height: 1025px;
    align-items: center;
}
.second_top{
    display: flex;
    flex-direction: row;
    justify-content: center;
    margin-top: 69px;
    font-family: 'Bebas Neue';
    line-height: 70px;
    text-transform: uppercase;
    color: #FF3754;
}
.second_top > h1 {
    margin: 0;
    font-size: 4.2em;
}
.second_top_header{
    display: flex;
}
.hide{
    display: none;
}
.second_main {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    /* margin-left: 88px; */
    width: 100%;
}
.second-main-2{
    width: 100%;
    height: 1000px;
    font-size: 6em; 
    text-align: center;
}
.second-main-3{
    width: 100%;
    height: 1000px;
    font-size: 6em; 
    text-align: center;
}
.second-main-4{
    width: 100%;
    height: 1000px;
    font-size: 6em; 
    text-align: center;
}
.second-main-5{
    width: 100%;
    height: 1000px;
    font-size: 6em; 
    text-align: center;
}
.second_main_left{
    margin-left: 88px;
    display: flex;
    flex-direction: column;
}
.swiper-container{
    width: 100%;
    height: 1000px;
}
.rect2{
    margin-right: 1.4em;
}
.rect5{
    margin-left: 1.4em;
}
.second_main_right{
    margin-right: 88px;
    display: flex;
    flex-direction: column;
}
.second_text{
    display: flex;
    flex-direction: column;
    margin-left: 106px;
    font-family: 'Museo Sans Cyrl';
}
.second_img{
    display: flex;
    align-items: center;
    margin-right: 280px;
}
.second_text1{
    font-family: 'Museo Sans Cyrl';
    font-size: 18px;
    width: 71%;
    line-height: 160%;
}
.second_text2{
    font-family: 'Museo Sans Cyrl';
    font-size: 18px;
    line-height: 160%;
}
.second_text_fam{
    font-family: 'Bebas Neue';
    font-size: 2.5em;
    line-height: 70px;
    text-transform: uppercase;
    color: #FF3754;
}
.second_text_fam > h2 {
    margin: 0;
}
.second_text_name{
    font-family: 'Bebas Neue';
    font-size: 160%;
    line-height: 40px;
    text-transform: uppercase;
    color: #888888;
}
.second_text_name > h3 {
    margin: 0;
}
.second_text_mini{
    font-family: 'Museo Sans Cyrl';
    font-size: 0.8em;
    line-height: 16px;
    letter-spacing: 0.155em;
    text-transform: uppercase;
    color: #303030;
}
.second_text_list {
    font-family: 'Museo Sans Cyrl';
    font-size: 1.2em;
    line-height: 160%;
    color: #303030;
}
.second_pages{
    display: flex;
    justify-content: space-between;
    width: 10%;
    font-family: 'Museo Sans Cyrl';
    font-size: 24px;
    line-height: 29px;
    margin-bottom: 1.8em;
    text-align: center;
    color: #303030;
}
.second_left > img{
    width: 100%;
}
.second_right > img{
    width: 100%;
}
.second_img > img{
    width: 200%;
}
ul {
    list-style: none;
    margin-left: -1em;
  }
ul li::before {
    content: '■';
    color: #FF3754;
    font-weight: bold;
    display: inline-block; 
    width: 1em;
    margin-left: -1em;
}

/* third block */

.third{
    display: flex;
    flex-direction: column;
    width: 100%;
    /* justify-content: space-around; */
    height: 40%;
    left: 0px;
    top: 1985px;
    background: linear-gradient(180deg, #FDF4F4 0%, #ECF3EC 100%);
    font-family: 'Museo Sans Cyrl';
    font-size: 18px;
    line-height: 160%;
}
.third_top{
    display: flex;
    flex-direction: row;
    justify-content: center;
    font-family: 'Bebas Neue';
    line-height: 70px;
    margin-top: 69px;
    margin-bottom: 61px;
    text-transform: uppercase;
    color: #FF3754;
}
.third_top > h1 {
    font-size: 4.2em;
    margin: 0;
}
.third_row1{
    display: flex;
    margin-left: 68px;
    justify-content: space-between;
    margin-right: 64px;
    margin-bottom: 60px;
}
.third_row2{
    display: flex;
    margin-left: 68px;
    justify-content: space-between;
    margin-right: 64px;
}
.third_row_text{
    width: 95.5%;
    margin-left: 15px;
}
.years{
    display: none;
}
.third_img{
    width: 100%;
    height: 240px;
}
.footer{
    display: flex;
    justify-content: space-between;
    width: 100%;
    height: 68px;
    background: #FFFFFF;
    font-family: Museo Sans Cyrl;
    font-size: 1.2em;
    line-height: 27px;
    color: #303030;
}
.footer_copyright{
    margin-left: 87px;
}
.footer_logo{
    margin-right: 87px;
}
