
@media (min-width: 320px) and (max-width: 600px) {
    .app {
        width: 100%;
        height: 6180px;
    }
    .header {
        height: 568px;
        display: flex;
        flex-direction: column;
        align-items: center;
        background-size: cover;    
        background-repeat: no-repeat;
        background-position: center center;  
        width: 100%;
        font-size: 20%;
        height: 300px;
    }
    .header_upper{
        display: flex;
        justify-content: space-between;
        width: 100%;
    }
    .header_upper_left{
        margin-left: 0;
    }
    .header_upper_left > h1 {
        font-size: 14em;
        font-weight: 100;
        margin-left: .2em;
        font-family: 'Museo Sans Cyrl';
    }
    .header_logo{
        width: 80%;
        margin-left: 14px;
    }
    .header_options {
        margin-top: 1em;
    }
    .header_opt {
        cursor: pointer;
    }
    .header_opt > p{
        margin: 0;
    }
    .header_upper_right{
        margin: 0;
        align-items: baseline;
    }
    .header_upper_left > img{
        width: 100%;
    }
    .header_upper_right > img{
        width: 100%;
    }
    .header_phone{
        display: none;
    }
    .header_phone_number{
        display: none;
    }
    .header_insta {
        display: none;
    }
    .header_vk{
        display: none;
    }
    .header_text1{
        font-size: 20em;
    }
    .header_text2{
        font-size: 7em;
    }
    .header_main{
        color: black;
        margin-left: 0;
        width: 100%;
    }
    .header_main_options{
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        color: black;
        width: 90%;
        order: 2;
    }
    span {
        margin-right: 8px;
    }
    .button{
        order: 1;
    }
    .header_main_option{
        font-size: 4em;
        color: #303030;;
    }
    .header_main_option3{
        font-size: 4em;
        color: #303030;
    }
    .header_main_option_tittle1{
        height: 40px;
        width: 180px;
    }
    .header_main_option_tittle1 > h1 {
        margin-top: 4px;
        font-size: 24px;
    }
    .header_button{
        width: 92%;
        margin-left: 0.7em;
        margin-top: 2em;
    }
    .header_main_option_tittle3{
        width: 100%;
        margin-left: 1em;
    }
    .first_option_img3{
        margin-left: 18px;
    }
    .header_options_options {
        display: none;
        padding: 0;
        position: absolute;
        padding-top: 150px;
        text-align: center;
        height: 400px;
        width: 100%;
        background: rgba(255, 255, 255, 0.9);

    }

    .second {
        display: flex;
        height: 1525px;
        flex-direction: column;
        height: 1440px;
        margin-top: 27em;
        align-items: center;
    }
    .second_top{
       margin-top: 0;
    }
    .second_main_left{
        display: none;
    }
    .second_main_right{
        display: none;
    }
    .second_main{
        display: flex;
        flex-direction: column;
        justify-content: space-around;
        align-items: center;
        height: 1322px;
        width: 100%;
        margin-left: -5.5em;
    }
    .second-main-2{
        margin-left: 1em;
    }
    .second_text1{
        width: 100%;
    }
    .second_text2{
        width: 100%;
    }
    .hide{
        display: flex;
        height: 40px;
        width: 156px;
        background: #FFFFFF;
        border: 1px solid #888888;
        color: #888888;
        box-sizing: border-box;
        border-radius: 4px;
    }
    .hide > p{
        margin-left: 50px;
        margin-top: 10px;
    }
    .second_text{
        order: 2;
        width: 90%;
        margin-left: 180px;
        margin-top: -9em;
        align-items: center;
    }
    .second_text_name {
        font-family: 'Bebas Neue';
        font-size: 1.9em;
        line-height: 40px;
        text-transform: uppercase;
        color: #888888;
    }
    .second_img{
        display: flex;
        align-items: center;
        display: flex;
        margin-left: 160px;
        margin-top: em;
        margin-right: 10px;
        margin-bottom: 0px;
        order: 1;
    }
    .second_img > img {
        width: 120%;
    }
    .second_pages{
        display: flex;
        flex-direction: row;
        width: 60%;
        justify-content: space-between;
    }


    .third{
        display: flex;
        flex-direction: column;
        width: 100%;
        height: 3948px;
    }
    .years{
        display: flex;
        flex-direction: column;
        align-items: center;
        height: 200px;
        width: 100%;
    }
    .years_row1{
        display: flex;
        width: 100%;
        justify-content: space-around;
    }
    .years_row2{
        display: flex;
        width: 100%;
        justify-content: space-around;
    }
    .year{
        width: 63px;
        height: 40px;
        background-color: #FFFF;
        text-align: center;
        border: 1px solid;
        color: #888888;
        border-radius: 4px;
        margin-bottom: 1em;
    }
    .third_row1{
        display: flex;
        flex-direction: column;
        margin-left: 0;
        width: 100%;
    }
    .third_row2{
        display: flex;
        flex-direction: column;
        margin-left: 0;
        width: 100%;
    }
    .footer_copyright {
        margin-left: 17px;
    }
    .footer_logo {
        margin-right: 17px;
    }
  }

  @media (min-device-width: 768px) and (max-device-width: 1024px) {
    .header_upper_left{
        margin-left: 20px;
    }
    .header_button{
        width: 40%;
    }
    .header_upper_right{
        font-size: 100%;
        margin-right: 20px;
        width: 100%;
    }
    .header_main{
        margin-left: 38px;
    }
    .header_options_options{
        padding: 0;
        position: absolute;
        padding-top: 150px;
        text-align: center;
        height: 400px;
        width: 100%;
        background: rgba(255, 255, 255, 0.9);
    }
    .second {
        margin-top: 0;
    }
    .second_top{
        margin-top: 69px;
    }
    .second_main{
        margin-left: 0; 
        width: 90%;
    }
    .second_main_left {
        display: none;
    }
    .second_main_right {
        display: none;
    }
    .second_text {
        margin-left: 0;
    }
    .second_img{
        margin-right: 0;
        margin-bottom: 0;
    }
    .second_img > img{
        width: 100%;
    }
    .second_pages{
        width: 30%;
        margin-bottom: 0;
    }
    .third_row1 {
        margin-left: 0;
        margin-bottom: 0;
        width: 100%;
    }
    .third_row2 {
        margin-left: 0;
        margin-bottom: 0;
        width: 100%;
    }
   }